/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: 35px;
}

/* Utily */

.container {
    margin: 0 auto;
    width: 80%;
}

.border-rad {
    border-radius: 13px;
}

.purple {
    background-color: #9694e5;
}

/* Header */

header {
    background-color: #0084FD;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#flex-header {
    display: flex;
}

/* Body - First section */ 

#first-sec {
    padding-top: 110px;
}

.card{
    width: 100%;
    background-color:gold;
    margin: 25px 0;
}

.small {
    height: 350px;
}

.big {
    height: 550px;
}

/* Second section */

#second-sec {
    height: 780px;
    margin: 35px 0;
    padding: 35px 0;
}

#paragraph-second-sec {
    height: 350px;
    background-color: royalblue;
}

#app-development {
    height: 350px;
    background-color: skyblue;
}

/* Third section */


#partners {
    height: 300px;
    background-color: lightgreen;
    margin: 40px 0;
}
.card-partners {
    width: 100%;
    height: 450px;
    background-color: gold;
    margin: 35px 0;
}

/* Forth section */

.benefits {
    width: 100%;
    height: 300px;
    background-color: gold;
    margin: 35px 0;
}


/* Fifth section */

#paragraph-fifth-sec{
    width: 100%;
}

#about-us {
    width: 100%;
    height: 550px;
    background-color: gold;
    margin: 35px 0;
}

#linkedin {
    width: 100%;
    height: 450px;
    background-color: royalblue;
    margin: 35px 0;
}

/* sixth section */

#get-started {
    width: 100%;
    height: 350px;
    background-color: royalblue;
    margin: 35px 0;
}

/* Footer */

footer {
    background-color: black;
    height: 100px;
}

/* 768px */

@media screen and (min-width: 768px) {

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .big {
        width: 65%;
        height: 400px;
    }

    .small {
        width: 30%;
        height: 400px;
    }
    
    .card-partners {
        height: 200px;
    }
    
    .row .benefit {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits {
        flex-basis: 48%;
    }    

    #flex-fifth-sec {
        display: flex;
    }

    #about-us {
        flex-basis: 48%;
    }

    #linkedin {
        flex-basis: 48%;
    } 
}

/* 1200px */

@media screen and (min-width: 1200px) {

    .container {
        width: 75%;
    }

    #strategic-planning {
        display: flex;
    }

    #paragraph-second-sec {
        flex-basis: 65%;
    }

    #app-development {
        flex-basis: 35%;
    }

    .benefits {
        flex-basis: 30%;
    }    

    #about-us {
        flex-basis: 60%;
    }

    #linkedin {
        flex-basis: 35%;
    } 
}