/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: 35px;
}

/* Utily */

.container {
    margin: 0 auto;
    width: 90%;
}

.border-rad {
    border-radius: 13px;
}

/* Header */

header {
    background-color: #0084FD;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#flex-header {
    display: flex;
}

/* Body - First section */ 

#first-sec {
    padding-top: 110px;
}

.card{
    width: 100%;
    background-color:gold;
    margin: 25px 0;
}

.small {
    height: 350px;
}

.big {
    height: 550px;
}

/* Second section */

#second-sec {
    background-color: #9694e5;
    height: 650px;

}

.strategic-planning {
    display: flex;
    flex-direction: column;
}

#paragraph-second {
    height: 300px;
    background-color: bisque;
}

#app-development {
    height: 350px;
    background-color: pink;
}