/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    line-height: 180%;
}

li{
    list-style: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 33px;
    font-weight: bold;
}

a {
    text-decoration: none;
}
/* Utilities */

.container {
    margin: 0 auto;
    width: 80%;
}

.border-rad {
    border-radius: 13px;
}

.purple {
    background-color: #9694e5;
}

/* Header */

header {
    background-color: #0084FD;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
}

#flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

#nav-ul {
    display: flex;
}

header a {
    color: white;
    margin-left: 15px;
}

.fa-bars {
    color: white;
}

header li > a {
    display: none;
}

/* Body - First section */ 

#first-sec {
    padding-top: 110px;
}

.card{
    background-color: #B5DDFF;
    margin: 35px 0;
    padding: 45px;
}

.title-firstsec h2{
    color: #0084FD;
    margin-bottom: 28px;
}

.text-firstsec {
    color: #5a6e7f;
    margin-bottom: 28px;
}

#button-blue {
    background-color: #0084FD;;
    padding: 10px 75px;
    color: white;
    border-radius: 20px;
}

#smartphone-img {
    width: 100%;
    margin: 15px 0 0 0;
}


/* smaller cards */

.icon-blue {
    color: #0084FD;
    text-align: center;
}

.icon-blue i {
    font-size: 70px;
    margin: 20px 0;
}

.title-blue h2{
    color: #0084FD;
    text-align: center;
    margin-bottom: 20px;
}

.text-card-small p {
    color: #5a6e7f;
}

.text-card-small {
    margin-bottom: 20px;
    text-align: center;
}


/* Second section */

#strategic-planning {
    padding: 60px 0;
    color: white;
}

#second-sec {
    height: 780px;
    margin: 35px 0;
    padding: 35px 0;
}

#paragraph-second-sec h2 {
    margin: 45px 0;
}

#paragraph-second-sec {
    margin-bottom: 45px;
}

#app-development {
    text-align: center;
    padding: 22px;
    color: black;
    background-color: white;
}

#app-development p {
    font-style: italic;
}

#app-development h3{
    margin: 20px 0;
    font-size: 27px;
}

#app-development a {
    color: black;
    background-color: #9694e5;
    padding: 10px 13px;
    border-radius: 50%;
    margin: 35px 0;
}

/* Third section */


#partners {
    text-align: center;
}


#partners p {
    margin: 45px 0 35px 0;
}

#partners h2 {
    color: #9694e5;
}

.partner-img {
    margin: 0 auto;
    width: 100%;
}

.partner-img img {
    border-radius: 50%;
    margin: 0 auto;
}

.card-partners {
    background-color: #9694e5;
    margin: 35px 0;
    padding: 30px;
    border-radius: 60px;
    color: white;
}

.partner-name {
    text-align: center;
    font-weight: bold;
    margin: 40px 0;
    font-size: 22px;
}


.fa-quote-left {    
    margin-right: 10px;
}

.fa-quote-right {
    margin-left: 10px;
}


/* Forth section */

.benefits {
    width: 100%;
    height: 300px;
    background-color: gold;
    margin: 35px 0;
}


/* Fifth section */

#paragraph-fifth-sec {
    width: 100%;
}

#about-us {
    width: 100%;
    height: 450px;
    background-color: gold;
    margin: 35px 0;
}

#linkedin {
    width: 100%;
    height: 450px;
    background-color: royalblue;
    margin: 35px 0;
}

/* sixth section */

#get-started {
    width: 100%;
    height: 350px;
    background-color: royalblue;
    margin: 35px 0;
}

/* Footer */

footer {
    background-color: black;
    height: 100px;
}

/* 768px */

@media screen and (min-width: 768px) {

    .container {
        width: 90%
    } 
    .card {
        padding: 16px;
        line-height: 110%;
        margin: 5px 0;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .big {
        flex-basis: 65%
    }

    .small {
        flex-basis: 31%;
    }
    
    .card-partners {
        height: 200px;
    }
    
    .row .benefit {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits {
        flex-basis: 48%;
    }    

    #flex-fifth-sec {
        display: flex;
        width: 100%
    }

    #about-us {
        width: 100%;
    }

    #linkedin {
        width: 48%;
    } 
}

/* 1200px */

@media screen and (min-width: 1200px) {

    .container {
        width: 75%;
    }

    #strategic-planning {
        display: flex;
    }

    #paragraph-second-sec {
        flex-basis: 65%;
    }

    #app-development {
        flex-basis: 35%;
    }

    .benefits {
        flex-basis: 30%;
    }    

    #about-us {
        flex-basis: 60%;
    }

    #linkedin {
        flex-basis: 35%;
    } 
}